<div class="row justify-content-center align-items-center  login-container">
            
    <div>
        <div class="card bg-light " style="border-radius: 1rem;">
            <div class="card-body p-4 text-center ">
                <h3>Profile</h3>
               <img src="assets/person.jpg" width="100px" height="100px" style="border-radius: 50px;"/>
                <h4 class="tagline">Lily Williams</h4>
                <table >
                    <tr>
                        <td class="heading" >Phone No:</td>
                        <td>9145642079</td>
                    </tr>
                    <tr>
                        <td class="heading">Email:</td>
                        <td>lwilliams12@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="heading">Address:</td>
                        <td>Dattanagar, Dhanakawadi, Pune</td>
                    </tr>
                    <tr>
                        <td class="heading">Total Issues Books:</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td class="heading">Not Returned Books:</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
            
        </div>
        
        
    </div>
</div>

