<!DOCTYPE html>
<html>
  <head>
    <title>Intro to Node and MongoDB</title>
  </head>
  <link rel="stylesheet" href="css/index.css" />
  <body>
    <div class="row">
      <div>
        <form method="post" action="/addmarks" class="details-form">
          <h3>Enter Student Marks</h3>
          <input
            type="text"
            name="name"
            placeholder="Enter student name"
            required
          />
          <input
            type="number"
            name="rollno"
            placeholder="Enter Roll no"
            required
          />
          <input
            type="text"
            name="wad_marks"
            placeholder="Enter WAD marks"
            required
          />
          <input
            type="number"
            name="dsbda_marks"
            placeholder="Enter DSBDA marks"
            required
          />
          <input
            type="number"
            name="cns_marks"
            placeholder="Enter CNS marks"
            required
          />
          <input
            type="number"
            name="cc_marks"
            placeholder="Enter CS marks"
            required
          />
          <input
            type="number"
            name="ai_marks"
            placeholder="Enter AI marks"
            required
          />
          <input type="submit" value="Save" class="btn" />
        </form>
      </div>
    </div>
  </body>
</html>
