
#showcase_title{
	text-align: center;
	margin-bottom: 0;
	padding: 0;
}
.hero_section{
 display:  flex;
 justify-content: flex-start;
 padding: 10px;
 

}
.img{
	width: 90%;
}
hr{
	text-align: center;
	border:2px solid red;
	width:700px;
}
img{
	width:50%;
	height: auto;

}

#homepic{
	border:2px solid #333;
	animation-delay: 3s;
}

.text_secondary {
	color:  grey;
}
#vid_list{
	animation-delay: 2s;
}

.categories{
	display: flex;
	flex-wrap:  wrap;

}


.banner_img{
	width: 100%;
}
@media only screen and (max-width: 600px) {
	.img{
		display: none;
	}

  }